@import url("https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&family=Stack+Sans+Headline:wght@200..700&display=swap");

body {
  font-family: "Special Gothic", sans-serif;
  color: #2b2527;
  background-color: #f4ecdb;
  margin: 0 24px;
}

h1,
h2,
h3 {
  font-family: "Stack Sans Headline";
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  width: 80px;
  height: fit-content;
  background-color: #93b274;
  border-radius: 50%;
  margin-right: 12px;
}

.logo-text {
  font-size: 48px;
}

nav {
  background-color: #93b274;
  padding: 24px;
  border-radius: 48px;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #f4ecdb;
  padding: 16px;
}

main {
  margin: 0 36px;
}
.background-svg {
  position: fixed;
  top: 50%;
  right: 20%;
  width: 60vmin;
  height: 60vmin;
  transform: translate(-50%, -50%);
  opacity: 0.35;
  z-index: -1;
  animation: rotate 40s linear infinite;
  color: #93b274;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
